<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <h3>
      <a href="/new" class="btn btn-success ms-auto my-auto">New Msg </a>
    </h3>
    <ul>
      <% messages.forEach(msg=> {%>
      <li>
        <h3><%= msg.user %></h3>
        <p><%= msg.text %></p>
      </li>
      <%})%>
    </ul>
  </body>
</html>
